* {
    margin: 0;
    padding: 0;
}

#ClockContainer {
    background-image: url("clock.png");
    height: 40vw;
    width: 40vw;
    /* height: 440px;
    width: 440px; */
    /* border: 3px solid red; */
    background-size: 100%;
    position: relative;
}

#hour,
#minute,
#seconds {
    border-radius: 10px;
    background-color: black;
    position: absolute;
    transform-origin: bottom;
}

#hour {
    height: 24%;
    width: 1.8%;
    top: 26%;
    left: 48.9%;
    opacity: 0.8;
    /* display: none; */
}

#minute {
    height: 34%;
    width: 1.8%;
    top: 15.8%;
    left: 48.9%;
    opacity: 0.8;
    /* display: none; */
}

#seconds {
    height: 37%;
    width: 1.8%;
    top: 13%;
    left: 48.9%;
    opacity: 0.8;
    /* display: none; */
}
   